@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-drop-shadow {
    filter: drop-shadow(1px 1px 3px #7b97dd);
  }
  .customBlur {
    backdrop-filter: blur(3px);
  }
  .mobile {
    @media (max-width: 1040px) {
      height: calc(100vh - 72px);
    }
    @media (max-width: 765px) {
      height: 100%;
    }
  }

  .back {
    background-image: url(./assets/bgReg.jpg);
  }
}
